{{ define "footer" }}
<footer>
    <div>
        <!-- <noscript> -->
            <a href="https://github.com/vdimir/markify"><i class="fa fa-github" aria-hidden="true"></i></a>
            <!-- <a href="https://twitter.com/vdimir"><i class="fa fa-twitter" aria-hidden="true"></i></a> -->
            <style type="text/css">
                div.follow-buttons-js { display:none; }
            </style>
        <!-- </noscript> -->
        <div class="follow-buttons-js">
        </div>
</footer>
{{ end }}
