{{ define "footer" }}
<footer>
    <div>
        <!-- <noscript> -->
            <a href="https://github.com/vdimir"><i class="fa fa-github" aria-hidden="true"></i></a>
            <a href="https://twitter.com/vdimir"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <style type="text/css">
                div.follow-buttons-js { display:none; }
            </style>
        <!-- </noscript> -->
        <div class="follow-buttons-js">
            <a class="github-button" href="https://github.com/vdimir" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star vdimir/dotfiles on GitHub">Star</a>
            <a href="https://twitter.com/vdimir?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-screen-name="false" data-show-count="false">Follow @vdimir</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>            </div>
        </div>
</footer>
{{ end }}
