<!DOCTYPE html>
<html>
<head>
    <title>{{ .Title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/style.css">
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</head>
<body>
    <header>
        <h1>{{ .Title }}</h1>
    </header>
    <div class="form-block url-block">
        {{- if .HeaderMsg }}<h1>{{ .HeaderMsg }}</h1>{{ end }}
        {{- if .MainMsg }}<p>{{ .MainMsg }}</p>{{ end }}
        <form class="url-form" action="/new" method="post" autocomplete="off">
            <input type="text" name="url" placeholder="Paste URL to raw markdown" autofocus>
            <button type="submit"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
            <span class="light-text">or press Enter to <a href="/compose">paste text</a></span>
            <br>
            {{ template "settings" }}
        </form>
    </div>
    {{ template "footer" }}
</body>
</html>