body {
    margin: auto;
    width: 85%;
    font-size: 14pt;
}

.text-logo {
    height: 1.5em;
    width: auto;
    vertical-align: bottom;
}

.text-logo-small {
    height: 35px;
    width: auto;
    vertical-align: bottom;
    margin-right: 10px;
    margin-bottom: -5px;
}

.small-header {
    vertical-align: top;
    padding-top: 10px;
    font-size: 15px;
}

.content {
    box-shadow: 0 1px 4px #ccc;
    padding: 10px 15px;
    margin: 10px 0;
    word-wrap: break-word;
}

@media (max-width: 1280px) {
    body {
        width: 85%;
        font-size: 14pt;
    }
}

@media (max-width: 767px) {
    body {
        width: 96%;
        font-size: 14pt;
    }
    .content {
        box-shadow: none;
        padding: 0;
    }
}

hr {
    border: 0;
	border-top: 1px solid #a0a0a0;
}

body {
    font-family: -apple-system,
                 BlinkMacSystemFont,
                 "Segoe UI",
                 Roboto,
                 Oxygen-Sans,
                 Ubuntu,
                 Cantarell,
                 "Helvetica Neue",
                 sans-serif;
    line-height: 1.5;
    text-align: left;
    vertical-align: middle;
}

h1 {
    text-align: center;
}

pre {
    border: 1px solid #ccc;
    background-color: #fafafa;
    border-radius: 3px;
    padding: 10px 10px;
    max-height: 80vh;
    overflow: auto;
}

code::before {
    content: "";
}

code::after {
    content: "";
}

code {
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    font-size: 12pt;
    background-color: #fafafa;
    border: 1px solid #ccc;
    border-radius: 3px;
}

pre code {
    background-color: inherit;
    color: inherit;
    border: none;
    font-size: 11pt;
}

pre code::before {
    content: none;
}

pre code::after {
    content: none;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    background-color: #fafafa;
}

table, th, td {
    border: 1px solid #a0a0a0;
}

tr:nth-child(even) {background-color: #fafafa;}

th, td {
    padding: 8px 8px;
}

.gist * td {
    border: none;
}

.gist * tr {
    background-color: transparent;
}

.toc-block {
    margin-left: 20px;
}

.toc-block * ul {
    margin-top: 0;
    margin-bottom: 0;
}

.toc-block a:visited {
    color: #7a7aff;
}

blockquote > p {
    margin: 7px;
}

blockquote {
    background: #fafafa;
    border-left: 7px solid #ccc;
    margin-left: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
}

li > input[type=checkbox] {
    vertical-align: middle;
    height: 18px;
    width: 18px;
}

.content * img {
    max-width: 100%;
    vertical-align: sub;
}

a {
    color: #7a7aff;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: #9292fa;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

a.plain-link {
    text-decoration: inherit;
    color: inherit;
    font-style: inherit;
}

a.plain-link:visited {
    color: inherit;
}

.light-text {
    color: #a0a0a0;
}

.light-text > a {
    text-decoration: underline;
    color: inherit;
    font-style: italic;
}

/* styles for index.html */

header {
    font-size: 24px;
    text-align: center;
    padding: 1vh 20px 1vh 20px;
}

header > h1 {
    margin: 0;
    display: inline;
}

.info-link > a {
    color: #676767;
    font-size: 24px;
}

.info-link > a:hover {
    color: #434343;
}

div.about-text {
    font-size: 20px;
    text-align: center;
}

body {
    background:#fefefe;
}

.form-block {
    display: block;
    margin: 0 auto 30px auto;
    box-shadow: 0 1px 4px #ccc;
    border-radius: 2px;
    background: #fff;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    max-width: 768px;
}

.form-block > h1 {
    margin-top: 10px;
    margin-bottom: 20px;
}

.url-block {
    padding: 20px 30px 20px;
}

form *:focus {
    outline: none;
}

form > input.switch {
    -webkit-appearance: none;
    -webkit-focus-ring-color: none;
    border-radius: 0%;
}

form > input:invalid {
    box-shadow: none;
}

form.url-form {
    text-align: left;
    width: 100%;
}

form.url-form > input, button {
    box-sizing: border-box;
    font-size: 26px;
    border: 1px solid #ededed;
}

form.url-form input[type=text] {
    padding: 10px;
    float: left;
    width: 85%;
    color: #434343;
}

form.url-form button[type=submit] {
    float: left;
    width: 15%;
    padding: 10px;
    background: #676767;
    border: 1px solid #676767;
    color: white;
    border-left: none;
    cursor: pointer;
}

@media (max-width: 1280px) {
    form.url-form > input, button {
        font-size: 24px;
        width: 75%;
    }

    form.url-form input[type=text] {
        width: 80%;
    }

    form.url-form button[type=submit] {
        width: 20%;
    }
}

@media (max-width: 767px) {
    form.url-form > input, button {
        font-size: 18px;
    }

    form.url-form input[type=text] {
        width: 80%;
    }

    form.url-form button[type=submit] {
        width: 20%;
    }
}

form button[type=submit]:hover {
    background: #434343;
}

form::after {
    content: "";
    clear: both;
    display: table;
}

form details.settings {
    display: inline-block;
    text-align: left;
    color: #676767;
}

form.url-form details.settings {
    margin-top: 0;
    margin-left: 0;
}

form.text-edit-form details.settings {
    margin-top: 8px;
    margin-bottom: 10px;
    margin-left: 15px;
}

form summary {
    cursor: pointer;
    /*text-decoration: underline;*/
    font-size: 18px;
}

form summary:hover {
    color: #676767;
}

form summary::after {
    font-family: "FontAwesome";
    content: "\f105";
    display: inline-block;
    padding-left: 10px;
}

form details.settings[open] summary::after {
    content: "\f107";
}

form summary::-webkit-details-marker {
    display: none;
    content: "";
}

form summary::marker {
    display: none;
    content: "";
}

.top-send-text {
    text-align: left;
}

.top-send-text > select {
    margin-left: 2%;
    margin-top: 10px;
    width: 250px;
}

.top-send-text > hr {
    border: 1px solid #f0f0f0;
}

textarea {
    -webkit-appearance: none;
    -webkit-focus-ring-color: none;
    border-radius: 0%;
    resize: none;
}

textarea:invalid {
    box-shadow: none;
}

form.text-edit-form {
    text-align: left;
}

form.text-edit-form > textarea {
    width: 100%;
    height: 70vh;
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
    border: none;
    padding: 18px;
    outline: none;
    color: #434343;
}

form.text-edit-form button {
    padding: 5px;
    background: #676767;
    border: 1px solid #676767;
    border-radius: 3px;
    color: white;
    text-align: center;
}

form.text-edit-form button.btn-send-text {
    margin-right: 0;
    border-radius: 3px 3px 3px 3px;
}

form.text-edit-form button.btn-preview-text {
    margin-left: 0;
    border-radius: 0px 3px 3px 0px;
}

form.text-edit-form button:hover {
    background: #434343;
}

form.text-edit-form button.btn-send-text {
    margin-left: 2%;
    font-size: 26px;
    width: 30%;
    border-right: none;
}

form.text-edit-form button.btn-preview-text {
    margin-right: 2%;
    font-size: 26px;
    width: 20%;
    max-width: 80px;
    border-left: 1px solid #434343;
}

.text-edit-form-controls {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.text-edit-form-controls > .light-text {
    margin-right: 20px;
    margin-left: 0px;
}

@media (max-width: 1280px) {
    form.text-edit-form button.btn-send-text {
        font-size: 24px;
        width: 50%;
    }

    form.text-edit-form button.btn-preview-text {
        font-size: 24px;
        width: 15%;
    }

    form.text-edit-form {
        text-align: center;
    }

    form.text-edit-form > span {
        display: block;
    }
}

@media (max-width: 767px) {
    form.text-edit-form button {
        margin-bottom: 15px;
    }

    form.text-edit-form button.btn-send-text {
        font-size: 22px;
        width: 80%;
    }

    .text-edit-form-controls > .light-text {
        margin-left: 20px;
    }

    form.text-edit-form button.btn-preview-text {
        font-size: 22px;
        width: 15%;
    }
}

.switch {
    display: flex;
    justify-content: right;
    align-items: center;
    vertical-align: middle;
    margin-top: 5px;
}

label.switch {
    cursor: pointer;
    width: 36px;
    height: 20px;
    background: #999999;
    border-radius: 20px;
    position: relative;
}

label.switch:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 13px;
    height: 13px;
    background: #999999;
    border-radius: 13px;
    border: 1.5px solid #f0f0f0;
    transition: 0.2s;
}

.switch > input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

.switch > input:checked + label {
    background: #999999;
}

.switch > input:checked + label:after {
    content: "";
    background: #f0f0f0;
    left: calc(100% - 2px);
    transform: translateX(-100%);
}

footer {
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

footer * div {
    font-size: 16px;
    color: #676767;
}

footer * a {
    font-size: 42px;
    color: #676767;
}

footer * a:visited {
    color: #676767;
}

footer * a:hover {
    color: #434343;
}
