<!DOCTYPE html>
<html>
<head>
    <title>{{ .Title }}</title>
    <meta name="title" content="{{ .Title }}">
    <meta name="description" content="Create pretty markdown page">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{- template "default_og" "/create"}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
    <header>{{ template "title_header" }}</header>
    <div class="form-block text-edit-block">
    <div class="content" style="display: none;"></div>
        <div class="editor-top-box{{- if .Msg }} visible{{ end }}">
            <div class="alert-box">
                <span class="alert-message">{{ .Msg }}</span>
                <span class="alert-close"><i class="fa fa-close" aria-hidden="true"></i></span>
            </div>
        </div>
        <form id="editor-form" class="text-edit-form" action="/create" method="post" autocomplete="off" target="_blank">
            <div id="preview-content" style="display: none;"></div>
            <div id="root-textarea">
                <div id="main-text-area" hidden="true"></div>
                <textarea id="simple-text-area" name="data" maxlength="20000" placeholder="# paste text here…" required autofocus>{{ .InitialText }}</textarea>
            </div>
            <div class="text-edit-form-controls" >
                <button class="btn-send-text" formtarget="_self" type="submit">
                    send <i class="fa fa-paper-plane" aria-hidden="true"></i>
                </button>
                <button class="btn-preview-text" type="button">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                </button>

                <!--
                <details class="settings">
                    <summary class="settings light-text">Select syntax</summary>
                    <select name="syntax" id="syntax-select" class="custom-select">
                        <option value="">Plain Text</option>
                        <option value="markdown">Markdown Page</option>
                    </select>
                </details>
                -->
                <div style="flex-grow: 1;"></div>
                <div class="light-text"><a href="/about">about</a></div>
            </div>
        </form>
    </div>
    <script src="public/editor.bundle.js"></script>
</body>
</html>
